@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700");
#bgc {
  background: lightblue url("background.png") no-repeat fixed center;
  background-size: cover;
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  transition: all 1.5s linear; }

#black-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  transition: all 5s linear;
  display: none; }

.centered {
  position: fixed;
  /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.star {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: starMove 1s;
  -moz-animation: starMove 1s;
  -ms-animation: starMove 1s;
  -o-animation: starMove 1s;
  animation: starMove 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  transition: all 1s linear;
  perspective: 300px; }

.logo + p {
  color: #1E9CC9;
  font-size: 24px;
  display: none;
  font-family: 'Poppins'; }

.logo {
  position: relative;
  right: -50px;
  -webkit-animation: logoMove 2s;
  -moz-animation: logoMove 2s;
  -ms-animation: logoMove 2s;
  -o-animation: logoMove 2s;
  animation: logoMove 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused; }

.footer {
  position: absolute;
  bottom: 200px; }

#file-input {
  display:none; }

.animateStar {
  -webkit-transform: scale3d(0.1, 0.1, 0.1);
  -moz-transform: scale3d(0.1, 0.1, 0.1);
  transform: scale3d(0.1, 0.1, 0.1);
  transition: all 5s linear; }

@keyframes logoMove {
  from {
    right: -50px; }
  to {
    opacity: 0;
    right: -1000px; } }
@keyframes starMove {
  from {
    left: 0px; }
  to {
    left: calc(50% - 45px);
    /*transform: rotate(180deg);*/ } }
#goToHomePage {
  position: absolute;
  /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Poppins Bold', sans-serif;
  color: white;
  z-index: 5;
  display: none; }
  #goToHomePage .btn {
    background-color: #272727;
    color: white;
    padding: 5px 15px; }

#dataPage {
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px; }

.userDetailPage {
  display: none;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%; }

.brainImage {
  width: 100%;
  height: 100vw;
  max-height: 780px; }
  .brainImage img {
    width: 100%;
    height: 100vw;
    max-height: 800px; }

.userInfos .logo-item {
  opacity: 0;
  position: relative;
  transition: all 1s linear;
  -webkit-animation: logoItemGoingUp 1s;
  -moz-animation: logoItemGoingUp 1s;
  -ms-animation: logoItemGoingUp 1s;
  -o-animation: logoItemGoingUp 1s;
  animation: logoItemGoingUp 1s;
  animation-fill-mode: forwards; }
.userInfos .warning-item {
  color: #990000;
  padding: 50px 0 0 0;
  font-size: 36px;
  font-family: 'Poppins Bold', sans-serif;
  display: none; }
.userInfos .probability-item p:first-child {
  color: lightgray;
  font-size: 90px;
  font-family: 'Poppins Bold', sans-serif;
  display: none; }
.userInfos .probability-item p:nth-child(2) {
  color: gray;
  font-size: 30px;
  padding-bottom: 15px;
  font-family: 'Poppins',sans-serif;
  display: none; }
.userInfos .details {
  color: silver;
  line-spacing: 5px;
  font-size: 24px;
  font-family: 'Poppins Light',sans-serif;
  display: none; }
.userInfos a {
  color: #1D5C7D;
  text-decoration: underline;
  word-spacing: 10px;
  font-size: 16px;
  display: none;
  font-family: 'Poppins Light',sans-serif; }
  .userInfos a:hover {
    color: #1D5C7D;
    text-decoration: none;
    text-decoration: underline; }
.userInfos .btn {
  color: white;
  font-size: 20px;
  padding: 20px 25px;
  background-color: #cc0000;
  border: none;
  margin-left: 25px;
  margin-top: 20px;
  font-family: 'Poppins Light',sans-serif;
  display: none;
  cursor: pointer; }
.userInfos .btn2 {
  background-color: #272727; }

@keyframes logoItemGoingUp {
  from {
    bottom: -45px; }
  to {
    opacity: 1;
    bottom: 0px; } }

/*# sourceMappingURL=style.css.map */
